*{
    padding: 0;
    margin:0;
}
.wrap{
    width:770px;
    height:500px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10px auto; 
    position: relative;
}
ul{
    list-style-type: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.month{
    width: 100%;
    height: 210px;
    background-color: lightgreen;
}
.month>li{
    float:left;
    width: 150px;
    height: 210px;
    font-size:60px;
    color:white;
    text-align: center;
    line-height: 210px;
    font-weight: 900;
    text-shadow: 1px 1px 5px gray;
}
.month>li>span:hover{
    cursor: pointer;
   
}
.month>li:nth-of-type(2){
    width:470px;
}
.month>li:nth-of-type(2):hover{
    cursor: pointer;
}
.month>li:nth-of-type(2)>h5{
    width: 100%;
    height: 60px;
    font-size:40px;
    line-height: 60px;
    text-align: center;
    margin-top:50px;
}
.month>li:nth-of-type(2)>h6{
    width: 100%;
    height: 50px;
    font-size: 26px;
    line-height:50px;
    text-align: center;
    position:relative;
    
}
.timeActiveH6{
    -webkit-animation:animationUp 1s ease-in-out 0.5s forwards;
    -moz-animation: animationUp 1s ease-in-out 0.5s forwards;
    -o-animation: animationUp 1s ease-in-out 0.5s forwards;
    animation: animationUp 1s ease-in-out 0.5s forwards;
    
}
@-webkit-keyframes animationUp{
    from{top:0;}
    to{top:-100px;}
}
@-moz-keyframes animationUp{
    from{top:0;}
    to{top: -100px;}
}
@keyframes animationUp{
    from{top:0}
    to{top:-100px;}
}
.timeActiveH5{
    -webkit-animation:animationGo 0.1s ease-in forwards;
    -moz-animation: animationGo 0.1s ease-in forwards;
    -o-animation: animationGo 0.1s ease-in forwards;
    animation: animationGo 0.1s ease-in forwards;
    
}
@-webkit-keyframes animationGo{
    from{opacity: 1;}
    to{
        opacity: 0;
        filter:alpha(opacity=0);
    }
}
@-moz-keyframes animationGo{
    from{opacity: 1;}
    to{opacity: 0;
       filter:alpha(opacity=0);    
    }
}
@keyframes animationGo{
    from{opacity: 1;}
    to{opacity: 0;
        filter:alpha(opacity=0);
    }
}
.timeMenus{
    width:480px;
    height:120px;
    position: absolute;
    top:60px;
    left:150px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -o-transform-origin: bottom left;
    transform-origin: bottom left; */
    -webkit-transform:scale(0,0);
    -moz-transform:scale(0,0);
    -ms-transform:scale(0,0);
    -o-transform: scale(0,0);
    transform:scale(0,0);
    opacity: 0;
    filter:Alpha(opacity=0);
    -webkit-animation: allMove 2s ease-in-out 1s forwards;
    -moz-animation:allMove 2s ease-in-out 1s forwards;
    -o-animation:allMove 2s ease-in-out 1s forwards;
    animation:allMove 2s ease-in-out 1s forwards;
}
@-webkit-keyframes allMove{
    to{
        -webkit-transform: scale(1,1);
        -moz-transform:scale(1,1);
        -ms-transform:scale(1,1);
        -o-transform: scale(1,1);
        transform:scale(1,1);
        opacity:1;
        filter:Alpha(opacity=100);
    }
}
@-moz-keyframes allMove{
    to{
        -webkit-transform:scale(1,1);
        -moz-transform:scale(1,1);
        -ms-transform:scale(1,1);
        -o-transform:scale(1,1);
        transform:scale(1,1);
        opacity: 1;
        filter:Alpha(opacity=100);
    }
}
@keyframes allMove{
    to{
        -webkit-transform:scale(1,1);
        -moz-transform:scale(1,1);
        -ms-transform:scale(1,1);
        -o-transform: scale(1,1);
        transform:scale(1,1);
        opacity: 1;
        filter:Alpha(opacity=100);
    }
}
.timeMenus>li{
    float: left;
    color: rgb(99, 99, 99);
    width:120px;
    font-size:18px;
    line-height: 40px;
    font-weight:500;
    height:40px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.timeMenus>li:hover{
    cursor:pointer;
    color:rgb(23, 27, 27);
    border-bottom: 1px solid rgb(23, 27, 27);
    
}
.markText{
    font-weight: bold;
    text-shadow: 1px 1px 1px gray;
}


button{
    position: absolute;
    top:170px;
    left:650px;
    padding: 5px;
    background-color:transparent;
    border:none;
    outline: none;
    font-size:20px;
    color: rgb(99, 99, 99);
    font-family:cursive;
    font-weight:300;
}
button:hover{
    cursor:pointer;
    color: rgb(77, 63, 224);
}
button:active{
   box-shadow: 0px 1px 0 rgb(77, 63, 224),0px -1px 0 rgb(77, 63, 224);
}
.month>li::-moz-selection,
.month>li>span::-moz-selection,
button::-moz-selection,
.month>li:nth-of-type(2)>h5::-moz-selection,
.month>li:nth-of-type(2)>h6::-moz-selection,
.timeMenus>li::-moz-selection{
    background-color: transparent;
}
.month>li::selection,
.month>li>span::selection,
button::selection,
.month>li:nth-of-type(2)>h5::selection,
.month>li:nth-of-type(2)>h6::selection,
.timeMenus>li::selection{
    background-color: transparent;
}
.weekday{
    width:100%;
    height: 50px;
    background-color:rgba(119, 136, 153, 0.35);

}
.weekday>li{
    width: 110px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    float:left;
    color: rgb(50, 56, 63);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}
.days{
    width:100%;
    height:240px;
    background-color:rgba(128, 128, 128, 0.2);
}
.days>li{
    width: 110px;
    height:40px;
    font-size:20px;
    line-height: 40px;
    text-align: center;
    color:rgb(82, 80, 80);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}
.weekday>li::-moz-selection,
.days>li::-moz-selection{
    background-color: transparent;
}
.weekday>li::selection,
.days>li::selection{
    background-color: transparent;
}
.liActive{
    padding:0 30px;
    background-color:lightgreen;
    -webkit-background-clip: content-box;
    -moz-background-clip: content-box;
    background-clip: content-box;
    
}
