*{
    padding: 0;
    margin: 0;
}
.listAll{
    width:40%;
    height:auto;
    margin: 10px auto;
}
.listheader{
    width: 100%;
    height:120px;
    background-color:cornflowerblue;
}
.listheader h3{
    color: white;
    font-size:26px;
    line-height: 50px;
    padding-top: 10px;
    font-weight: bolder;
    text-align: center;
}
.listSearch{
    float:left;
    margin-left: 15%;
    width: 55%;
    height:40px;
    line-height: 50px;
    font-size:20px;
    border: none;
    background-color: white;
    text-indent: 10px;
    outline: none;
    box-shadow: inset 0 0 2px 1px gray;
}   
.wraing{
    border:2px solid red;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}   
.listSearch+input{
    display: inline-block;
    width: 15%;
    height:40px;
    font-size: 20px;
    border: none;
    outline: none;
}
.listSearch+input:hover{
    cursor: pointer;
    background-color:rgb(163, 159, 159);
    color:white;
}
.clear{
    clear: both;
}
.clearSearch{
    position:relative;
    display: none;
    top: -40px;
    left: 64%;
    width:6%;
    height:40px;
    font-size:22px;
    line-height: 40px;
    text-align: center;
    outline:none;
}
.clearSearch:hover{
    cursor:pointer;
}
.listUl{
    width: 100%;
    list-style-type: none;
}
.listUl>li{
    position: relative;
    width: 100%;
    font-size: 20px;
    line-height: 40px;
    text-indent:10%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(181, 178, 178);
    border-left:1px solid rgb(181, 178, 178);
    border-right:1px solid rgb(181, 178, 178);
}
.listUl>li::-moz-selection{
    background-color:transparent;
}
.listUl>li::selection{
    background-color: transparent;
}
.listUl>li:hover{
    cursor:pointer;
    background-color:rgb(218, 218, 218);
}
.listUl>li.checked{
     background-color:gray;
     color:white;
     text-decoration: line-through;
}
.listUl>li.checked::before{
    position: absolute;
    content:"\2713";
    width: 10%;
    line-height: 40px;
    font-weight: bolder;
    font-size: 22px;
    color:white;
    top: 0;
    left:-6%;
    
}
.listUl>li>span{
    position:absolute;
    display: block;
    top: 0;
    left:90%;
    width: 10%;
    height: 40px;
    font-size: 20px;
    text-align: center;
    text-indent: 0;
    
}
.listUl>li>span:hover{
    color:cornflowerblue;
    font-weight: bolder;
}
.calculatorBut{
    position: absolute;
    top: 40%;
    left:-8%;
    width:10%;
    height: 50px;
    background-color:cornflowerblue;
    border:none;
    color: white;
    outline: none;
    -webkit-transition: left .8s ease-in-out;
    -moz-transition: left .8s ease-in-out;
    -o-transition:left .8s ease-in-out;
    transition: left .8s ease-in-out;
    
}
.calculatorBut:hover{
    cursor: pointer;
    left: 0;
}
.calculatorS{
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color:rgb(75, 73, 73);
}
.calculatorCont{
    position: relative;
    width:20%;
    height: 500px;
    background:-webkit-linear-gradient(top,rgb(14, 228, 210) 10%,rgb(2, 97, 180) 80%);
    background:-moz-linear-gradient(top,rgb(14, 228, 210) 10%,rgb(2, 97, 180) 80%);
    background: -o-linear-gradient(top,rgb(14, 228, 210) 10%,rgb(2, 97, 180) 80%);
    background: -ms-linear-gradient(top,rgb(14, 228, 210) 10%,rgb(2, 97, 180) 80%);
    -ms-filter: progid:DXImageTransform.Microsoft.Gradient(enabled='true',GradientType=0,startColorStr=#0EE4D2,endColorStr=#0261B4);
    filter:progid:DXImageTransform.Microsoft.Gradient(enabled='true',GradientType=0,startColorStr=#0EE4D2,endColorStr=#0261B4);
    margin: 5% auto;
    overflow: hidden;
    box-shadow:0px 0px 5px 1px rgba(255, 255, 255, 0.392);
}
.answerShow{
    width: 100%;
    height: 120px;
    border-bottom:2px solid white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:65px 10px 10px 10px;
    color:white;
    font-size:42px;
    text-align:right;
    font-weight: bold;
}
.answerTip{
    position: absolute;
    top:0px;
    left:5px;
    color:rgb(28, 76, 197);
    font-size: 12px;
    line-height: 20px;
    
}
.calculatorContent{
    width: 100%;
    height: 30px;
    color: white;
    font-size: 20px;
    text-align: right;
    line-height:20px;
    background-color:transparent;
    letter-spacing:1px;

}
.calculatorBUT{
    width:100%;
}
.calculatorBUT>div{
    width: 25%;
    height:70px;
    float: left;
    text-align:center;
    line-height:70px;
    font-size:28px;
    color:white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:1px solid transparent;
    background: rgba(246, 248, 243, 0.264);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}
.calculatorBUT>div::-moz-selection{
    background-color:transparent;
}
.calculatorBUT>div::selection{
    background-color:transparent;
}
.calculatorBUT>div:nth-of-type(1),
.calculatorBUT>div.specialBut{
    width: 50%;
}
.calculatorBUT>div:nth-of-type(1),
.calculatorBUT>div:nth-of-type(2),
.calculatorBUT>div:nth-of-type(4n+3),
.calculatorBUT>div:nth-of-type(18){
    background: rgba(246, 248, 243, 0.5);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}
.calculatorBUT>div:hover{
    cursor: pointer; 
      
}
.activeButStatus{
    box-shadow: inset 0px 0px 3px 0.1px rgba(89, 88, 88, 0.616);
    text-shadow: 0 0 5px yellow;  
}
.exitCalculator{
    position: fixed;
    right: 100px;
    bottom: 100px;
    border:none;
    background-color:transparent;
    width:50px;
    height:30px;
    color:white;
    font-size: 22px;
    font-family: cursive;
    outline: none;
}
.exitCalculator:hover{
    cursor: pointer;
}
.exitCalculator:hover:after{
    position:absolute;
    top:30px;
    left:0px;
    content:"";
    width:50px;
    height:1px;
    background-color: white;
    -webkit-animation:ani1 0.5s linear infinite alternate;
    -moz-animation: ani1 0.5s linear infinite alternate;
    -o-animation: ani1 0.5s linear infinite alternate;
    animation: ani1 0.5s linear infinite alternate;
}
.exitCalculator:hover:before{
    position:absolute;
    top:35px;
    left:0px;
    content:"";
    width:60px;
    height:1px;
    background-color: white;
    -webkit-animation:ani2 0.5s linear infinite alternate;
    -moz-animation: ani2 0.5s linear infinite alternate;
    -o-animation: ani2 0.5s linear infinite alternate;
    animation: ani2 0.5s linear infinite alternate;
}
@-webkit-keyframes ani1{
    from{
        left:-10px;
    }
    to{
       left: 10px;
    }
}
@keyframes ani1{
    from{
        left:-10px;
    }
    to{
       left: 10px;
    }
}
@-webkit-keyframes ani2{
    from{
        left:-20px;
    }
    to{
       left: 15px;
    }
}
@keyframes ani2{
    from{
        left:-20px;
    }
    to{
       left: 15px;
    }
}
.wraingTip{
    position: fixed;
    left: 0;
    right: 0;
    bottom:100px;
    margin: auto;
    width:300px;
    height:60px;
    line-height: 60px;
    font-size: 20px;
    color:white;
    letter-spacing:5px;
    text-align: center;
    background-color: cornflowerblue;
    box-shadow: 0 0 1px 3px white;
    -webkit-animation: showTip 0.8s ease-in;
    -moz-animation: showTip 0.8s ease-in;
    -o-animation:showTip 0.8s ease-in;
    animation:showTip 0.8s ease-in;
}
@-webkit-keyframes showTip{
    from{
        bottom:-60px;
    }
    to{
        bottom: 100px;
    }
}
@keyframes showTip {
    from{
        bottom:-60px;
    }
    to{
        bottom: 100px;
    }
}
.pullDown{
    width:25%;
    height: auto;
    margin:40px auto;
}
.pullDown>ul{
    list-style-type: none;
}
.section{
    position:relative;
    width: 100%;
    height:60px;
    margin-bottom:5px;
    overflow: hidden;
    border-bottom:1px solid rgb(184, 183, 183);
    -webkit-transition:all 1s linear;
    -moz-transition:all 1s linear;
    -o-transition:all 1s linear;
    transition:all 1s linear;
    -webkit-transform-style:preserve-3d;
    transform-style: preserve-3d;
} 
.sectionActive{
    height: 280px;
}
.pullTitle{
    width: 100%;
    height: 50px;
    color: white;
    background-color: cornflowerblue;
    line-height: 50px;
    font-size:26px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-indent: 15px;
    cursor: pointer;
}
.pullTitle>span{
    float: right;
    width: 50px;
    font-size: 20px;
    line-height:50px;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -o-transition:0.5s;
    transition:0.5s;
}

.pullTitle_Span{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.pullCont{
    position: absolute;
    top:50px;
    left: 0;
    width: 100%;
    height:230px;
    padding:15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    border:1px solid rgb(184, 183, 183);
    z-index: -1;
   
}

.pullCont>h2{
    position: relative;
    text-indent:20px;
    font-size: 26px;
    line-height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.pullCont>h2::before{
    position: absolute;
    top:0;
    left:-20px;
    content:'\2721';
    width:50px;
    height:50px; 
    color: cornflowerblue;
}
.pullCont>p{
    white-space: pre-wrap;
    color: gray;
}
/* ----------------------------------------------- */
.section2{
    position:relative;
    width: 100%;
    height:60px;
    margin-bottom:15px;
    overflow: hidden;
    -webkit-transition:3s;
    -moz-transition:3s;
    -o-transition:3s;
    transition:3s;
    -webkit-transform-style:preserve-3d;
    transform-style: preserve-3d;
} 
.section2A{
    height: 280px;
}
.pullCont2{
    position: absolute;
    top:50px;
    left: 0;
    width: 100%;
    height:230px;
    padding:15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    border:1px solid rgb(184, 183, 183);
    z-index: -1;
    -webkit-transform: translateY(-220px);
    -moz-transform: translateY(-220px);
    -o-transform: translateY(-220px);
    transform: translateY(-220px);
    -webkit-transition:3s; 
    -moz-transition:3s;
    -o-transition:3s;
    transition:3s;
   
}
.pullCont2Span{
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}
.pullCont2>h2{
    position: relative;
    text-indent:20px;
    font-size: 26px;
    line-height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.pullCont2>h2::before{
    position: absolute;
    top:0;
    left:-20px;
    content:'\2721';
    width:50px;
    height:50px; 
    color: cornflowerblue;
}
.pullCont2>p{
    white-space: pre-wrap;
    color: gray;
}